{% extends "base.html" %}

{% block head %}
<title>Library Gadget: The back story</title>
{% endblock %}

{% block content %}

<h3>Contact information</h3>

<p>
<ul>
    <li><a href="http://twitter.com/#!/bluestemscott">@bluestemscott</a></li>
    <li><a href="https://plus.google.com/u/0/100237552584772883873/posts">http://plus.google.com</a></li>
    <li><a href="http://www.linkedin.com/in/bluestemscott">http://www.linkedin.com/in/bluestemscott</a></li>
    <li>scott@librarygadget.com</li>
</ul>
</p>

<h3>From Scott Peterson, the founder of Library Gadget</h3>
<div class="section">
<p>

    Everyone in my family loves the library, and why not? Going to the library feels like a free shopping trip inside the world’s most amazing bookstore.
    You mean we can just take anything we like, and it’s free? And that’s legal?
</p>
    
<p>
    If the Petersons were an extremely organized family, Library Gadget probably never would have happened.
    However, a few years ago, we had a fine that was over $30. That bugged me. 
    Also, I noticed that sometimes we would get fines on items that could have been renewed,
    but we rarely remembered to do that.
</p>

<p>
    One summer night I sat in front of my computer and started to write
    a very simplified version of Library Gadget, purely for my own use.
    Over time I opened it up to the public, first as a Google Desktop plugin (since discontinued) and 
    later as an iGoogle gadget. Along the way, I learned a couple new 
    <a href="http://javascript.crockford.com/javascript.html">programming</a> <a href="http://www.python.org">languages</a>,
    so that was fun in a nerdy sort of way. However, for some reason, I didn't ever build a standalone web site for Library Gadget.
</p>
  
<p>
    Finally, in late 2011 I launched the Library Gadget web site, eliminating any requirement to
    use Google Desktop or iGoogle. This decision has - predictably - brought me untold riches. Well, maybe not quite yet.
    But at least the hosts of NPR's Morning Report <a href="https://plus.google.com/u/0/100237552584772883873/posts/fxYfZpt1XpH">seem to like it</a>.
    Wow... Nina Gregory!

</p>

<p>
    Anyway, I hope you find Library Gadget useful and enjoyable.
</p>
</div>



{% endblock %}