<div id="pricing">
<table>

    <tbody>
        <tr>
            <td></td>
            <td align="center">Free</td>
            <td align="center">Only {{ total_cost }}/year</td>
        </tr>

        <tr>
            <td align="right">Multiple cards at a glance</td>
            <td align="center"><img src="/site_media/Checkmark.png"/></td>
            <td align="center"><img src="/site_media/Checkmark.png"/></td>
        </tr>
        <tr>
            <td align="right">Overdue reminder emails</td>
            <td align="center"><img src="/site_media/X.png"/></td>
            <td align="center"><img src="/site_media/Checkmark.png"/></td>
        </tr>
        <tr>
            <td align="right">Almost due reminder emails</td>
            <td align="center"><img src="/site_media/X.png"/></td>
            <td align="center"><img src="/site_media/Checkmark.png"/></td>
        </tr>
        <tr>
            <td align="right">Auto renewals</td>
            <td align="center"><img src="/site_media/X.png"/></td>
            <td align="center"><img src="/site_media/Checkmark.png"/></td>
        </tr>
        <tr>
            <td align="right"></td>
            <td align="center">
                <a class="fancy_button" style="margin-bottom: 25px; clear: both;" href="{% url register %}?plan=free">
                    <span style="background-color: #070;">Select</span>
                </a>

            </td>
            <td align="center">
                <a class="fancy_button" style="margin-bottom: 25px; clear: both;" href="{% url register %}?plan=premium">
                    <span style="background-color: #070;">Select</span>
                </a>

            </td>
        </tr>


    </tbody>

</table>


</div>

