{% extends "base.html" %}

{% block head %}
<title>Library Gadget: Privacy</title>
{% endblock %}

{% block content %} 

<p>I won't use your personal details for any reason other than to fulfill your requests or to 
send email alerts or service updates. I won't disclose personal details to a third party 
unless you explicitly initiate the action (for example, by clicking a link to share a library item on Facebook) 
or unless ordered to do so by a court. 
</p>

<p>Links to Amazon.com contain an embedded Library Gadget affiliate code. Affiliate payments help support
Library Gadget at no cost to you.</p>

<p>It goes without saying that I'll never sell your email address to spammers. But I'll say it anyway.</p>
    
<p>- Scott Peterson</p>

{% endblock %}
